# Webserver
PORT=8080

# Postgres
# Beispiel Render/Cloud: postgres://USER:PASS@HOST:5432/DBNAME
DATABASE_URL=postgresql://uapp_db_user:9iUxNp7RKo668uGRopGw2OPqJnOoD2Le@dpg-d42fsr8dl3ps73cdbc40-a.frankfurt-postgres.render.com/uapp_db
# Erzwingt TLS/SSL in db.js
PGSSLMODE=require

# Azure Document Intelligence
AZURE_ENDPOINT=https://umsatzsteuerapp.cognitiveservices.azure.com/
AZURE_KEY=9arDNcFBVe11MnQVBFps06E3fyTrzRam1gdTfHAxtYRMmIlI6yKbJQQJ99BKACPV0roXJ3w3AAALACOGvMF5
AZURE_API_VERSION=2023-10-31

# Pipeline-Einstellungen
# Ab welchem Score wir NICHT weiter auf receipt/layout/read zurückfallen
MODEL_CONFIDENCE_THRESHOLD=0.80

# Feature Toggles
FEATURE_EINVOICE_XRECHNUNG=true
FEATURE_EINVOICE_ZUGFERD=true

# Speicherung
# Nur aktivieren, wenn du Binärdaten wirklich in Postgres halten willst
STORE_FILE_BYTES=false

# Migrationen beim Start
RUN_MIGRATIONS=true
